# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# notebook
.ipynb
# Jupyter Notebook 
.ipynb_checkpoints 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# data
.xlsx
.csv
.json
/backend/pdf/cpf
/backend/pdf/estatement
/backend/pdf/cpf-historical
/backend/pdf/estatement-historical
/backend/pdf/investment-historical
/backend/pdf/debt